.App {
  text-align: center;
  color: white;
 
}

html {
  background-color: #232741;
  color: white;
  
}

.wrapper {
  width:80%;
  margin: 0 auto;
}

h1 {
  font-family: 'playfair display sc', sans-serif;
  font-size: 90px;
  color: #E0C3B5;
}

h2 {
  text-align: center;
}

p,
h2 {
  font-family: 'josefin sans', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #E0C3B5;
}

/* results styles */

.body {
  width: 55%;
  text-align: left;
  margin:0 auto;
  background: #1f2237;
  padding: 10px;
  border-radius: 10px;
  margin-top: 40px;


}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  pointer-events: none;
}

.alert {
  background: transparent;
  color: #E0C3B5;
  padding:0;
}

/* input styles */

#newSign {
  background: #232741;
  border: none;
  border-bottom: 1px solid white;
  font-family: 'josefin sans', sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 50px;
}

label,
button {
  font-family: 'josefin sans', sans-serif;
  font-size: 20px;
  padding: 0;
  pointer-events: all;
  
}



button {
  background-color: #232741;
  color: #E0C3B5;
  border: none;
  margin: none;
  padding: 0 6px 0 2px;
  border-radius: 10px;
}

/* sweet alert styles */

.sa-error-container {
    display: none;
}

.sweet-alert.showSweetAlert.visible  {
  background-color: #1f2237;
  padding: 17px;
  width: 26%;
  border-radius: 20px;

}

fieldset {
  display:none;
}

.confirm {
  width: 20%;
  margin-left: 130px; 
  background-color: #E0C3B5; 
  color: black;
  
}

/* RESPONSIVE DESIGN  */

@media (max-width: 944px) {
  h1 {
    font-size: 80px;
  }
  p {
    font-size:18px;
  }
}

@media (max-width: 808px) {
  h1 {
    font-size: 70px;
    text-align: center;
  }
 
}

@media (max-width: 621px) {
  h1 {
    font-size: 60px;
    text-align: center;
  }

  button {
    margin-top:20px;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 55px;
  }
 
}